[
    {erl_supplicant, [
        % To avoid to supplicate on boot, set auto to false
        {auto, false}, % optional, defaults to true

        % For the PDU (EAPoL) interface selection
        {interface, "veth1"}, % required!
        % for the EAP layer
        {identity, "localhost"}, % required!

        % For the OTP SSL connection
        % ssl hostname
        {server_common_name, "Example Server Certificate"},
        % tls options
        {eap_tls, [
          {verify, verify_peer},
          {certfile, "/etc/freeradius/3.0/certs/client.pem"},
          {keyfile, "/etc/freeradius/3.0/certs/client.key"},
          {password, "whatever"},
          {cacertfile, "/etc/freeradius/3.0/certs/ca.pem"}
        ]}
    ]},
    {kernel, [
      {logger_level, debug},
      {logger, [
        {handler, default, logger_std_h, #{
          formatter => {logger_formatter, #{
            template => [
              time, " ",
              "[", level, "] ",
              msg,
              "\n"
            ],
            single_line => true,
            chars_limit => 3_000
          }}
        }}
      ]}
    ]}
].